[Unit]
Description=Manage keyboard scroll lock led

[Service]
Restart=always
ExecStart=/usr/local/bin/scrolllockd

[Install]
WantedBy=multi-user.target
